/*GENERAL*/
.container {
  max-width: 940px;
  margin: 0 auto; }

a {
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  color: inherit; }

section,
div,
nav,
ul,
li,
h1,
h2,
h3,
h4,
p,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  width: 100%; }

h3 {
  font-size: 32px;
  font-family: "RobotoBold";
  text-align: center; }

/*HEADER*/
header {
  width: 100%;
  height: 75px;
  background-color: #23598F; }
  header .logo {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: normal;
    color: #fff;
    font-size: 19px;
    width: 118px;
    height: 75px;
    float: left;
    margin-top: 11px;
    line-height: 19px; }
  header nav {
    display: inline-block;
    width: 620px;
    height: 100%;
    margin: 0 auto; }
    header nav ul {
      text-align: center; }
      header nav ul li {
        list-style-type: none;
        display: inline-block;
        color: #99CCFB;
        font-family: 'PT Sans Narrow', sans-serif;
        font-size: 19px; }
        header nav ul li a {
          display: block;
          height: 75px;
          padding: 2px 17px 0 15px;
          line-height: 73px; }
        header nav ul li:hover {
          color: #fff;
          background-color: #4BB5CB;
          font-weight: bold; }
  header .contacts {
    float: right;
    max-width: 200px;
    font-family: "RobotoRegular";
    font-size: 26px;
    color: #fff;
    margin-top: 13px;
    text-align: right; }
    header .contacts span {
      font-size: 13px;
      display: block;
      margin-top: -4px; }

/*/HEADER*/
/*APART MAIN*/
.apart_main {
  width: 100%;
  height: 725px;
  background: url(../../images/1st.jpg) no-repeat 50% 50%;
  background-size: cover; }
  .apart_main .container {
    padding-top: 50px; }
    .apart_main .container .left_column {
      max-width: 560px;
      display: inline-block;
      vertical-align: top; }
      .apart_main .container .left_column .price {
        width: 100%;
        padding-bottom: 33px;
        margin: 0; }
        .apart_main .container .left_column .price h1 {
          font-family: "RobotoBold";
          font-size: 52px;
          color: #23598F;
          text-transform: uppercase;
          padding-left: 38px;
          margin-top: 3px;
          line-height: 52px; }
        .apart_main .container .left_column .price .normal {
          display: block;
          max-width: 375px;
          background-color: #23598F;
          font-size: 42px;
          font-family: "RobotoRegular";
          color: #fff;
          margin-left: 38px;
          margin-top: -20px;
          padding-left: 31px;
          padding-bottom: 4px; }
          .apart_main .container .left_column .price .normal .bold {
            display: inline;
            margin-left: 2px;
            font-family: "RobotoBold"; }
      .apart_main .container .left_column .q_ty {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        margin-top: -3px;
        padding-bottom: 53px; }
        .apart_main .container .left_column .q_ty ul {
          padding-top: 47px;
          padding-left: 36px;
          line-height: 36px; }
          .apart_main .container .left_column .q_ty ul li {
            list-style-type: none;
            color: #fff;
            font-family: "RobotoRegular";
            font-size: 30px;
            font-weight: 100;
            position: relative; }
            .apart_main .container .left_column .q_ty ul li:before {
              content: "-";
              position: absolute;
              color: #4BB5CB;
              left: -15px; }
            .apart_main .container .left_column .q_ty ul li span {
              display: inline;
              color: #FFFCCC;
              font-weight: bold; }
    .apart_main .container .right_column {
      max-width: 380px;
      background-color: #4BB5CB;
      float: right;
      text-align: center;
      position: relative;
      padding-bottom: 75px; }
      .apart_main .container .right_column .arrow {
        position: absolute;
        width: 50px;
        height: 50px;
        background-color: red;
        background: url(../../images/arrow_form.png) no-repeat 50% 50%;
        right: 140px;
        top: 161px; }
      .apart_main .container .right_column span {
        font-family: "RobotoRegular";
        font-size: 30px;
        color: #FFFCCC;
        text-transform: uppercase;
        display: block;
        margin-top: 52px; }
      .apart_main .container .right_column p {
        color: #fff;
        font-size: 24px;
        font-family: "RobotoRegular";
        text-align: left;
        padding-left: 31px;
        padding-top: 10px;
        line-height: 29px; }
        .apart_main .container .right_column p span {
          display: inline;
          font-family: "RobotoBold";
          font-size: 24px; }
      .apart_main .container .right_column form {
        width: 319px;
        margin: 0 auto;
        margin-top: 35px; }
        .apart_main .container .right_column form input {
          display: block;
          width: 100%;
          border-radius: 5px;
          height: 53px;
          outline: none;
          border: none;
          margin-top: 9px;
          font-size: 24px;
          font-family: "RobotoRegular"; }
        .apart_main .container .right_column form .submit {
          background-color: #FFFCCC;
          font-size: 20px;
          font-family: "RobotoBold";
          margin-top: 11px; }
        .apart_main .container .right_column form input::-webkit-input-placeholder {
          padding-left: 10px; }

/*APART MAIN*/
/*UNION*/
.union {
  width: 100%;
  padding-bottom: 39px; }
  .union .container h3 {
    color: #23598F;
    padding-top: 89px; }
  .union .container p {
    text-align: center;
    font-size: 24px;
    font-family: "RobotoRegular";
    line-height: 30px; }
  .union .container .logos {
    width: 100%;
    margin-top: 46px;
    padding-left: 11px;
    text-align: center; }
    .union .container .logos img {
      max-width: 140px;
      padding-right: 77px;
      padding-bottom: 57px;
      display: inline-block;
      vertical-align: top; }
      .union .container .logos img:first-child {
        margin-left: none;
        padding-right: none; }
    .union .container .logos .last_row {
      margin-top: -20px; }

/*/UNION*/
/*POPULAR*/
.popular {
  width: 100%;
  background-color: #23598F; }
  .popular p {
    color: #99CCFB;
    font-size: 24px;
    font-family: "RobotoRegular";
    text-align: center;
    margin: 0 auto; }
  .popular h3 {
    padding-top: 89px;
    color: #fff;
    padding-bottom: 9px; }
  .popular .popular_container {
    font-size: 0;
    padding-top: 49px; }
    .popular .popular_container .popular_item {
      width: 49%;
      margin-right: 2%;
      margin-bottom: 22px;
      display: inline-block;
      vertical-align: top;
      background-color: #fff;
      text-align: center;
      padding-bottom: 42px; }
      .popular .popular_container .popular_item:nth-child(even) {
        margin-right: 0; }
      .popular .popular_container .popular_item .item_img {
        width: 100%;
        height: 257px;
        margin-bottom: 31px; }
      .popular .popular_container .popular_item h3 {
        color: #23598F;
        padding: 0; }
      .popular .popular_container .popular_item .level {
        font-family: "RobotoRegular";
        color: #999999;
        font-size: 22px; }
      .popular .popular_container .popular_item .item_imfo {
        max-width: 404px;
        margin: 0 auto;
        display: block;
        margin-top: 21px; }
        .popular .popular_container .popular_item .item_imfo .item {
          list-style-type: none;
          display: inline-block;
          vertical-align: top;
          width: 140px;
          margin-left: 58px;
          font-size: 16px;
          font-family: "RobotoRegular";
          text-align: left;
          margin-top: -3px;
          line-height: 20px;
          position: relative;
          padding-bottom: 28px; }
          .popular .popular_container .popular_item .item_imfo .item span {
            display: block; }
          .popular .popular_container .popular_item .item_imfo .item:nth-child(even) {
            margin-left: 66px; }
          .popular .popular_container .popular_item .item_imfo .item .bold {
            display: inline;
            font-weight: bold; }
        .popular .popular_container .popular_item .item_imfo .sea:before {
          content: " ";
          width: 43px;
          height: 43px;
          position: absolute;
          left: -55px;
          background: url(../../images/icon-sea.png) no-repeat 50% 50%;
          background-size: cover; }
        .popular .popular_container .popular_item .item_imfo .room_2:before {
          content: " ";
          width: 43px;
          height: 43px;
          position: absolute;
          left: -55px;
          background: url(../../images/icon-2room.png) no-repeat 50% 50%;
          background-size: cover; }
        .popular .popular_container .popular_item .item_imfo .room_3:before {
          content: " ";
          width: 43px;
          height: 43px;
          position: absolute;
          left: -50px;
          background: url(../../images/icon-3room.png) no-repeat 50% 50%;
          background-size: cover; }
        .popular .popular_container .popular_item .item_imfo .price:before {
          content: " ";
          width: 43px;
          height: 43px;
          position: absolute;
          left: -50px;
          background: url(../../images/icon-price.png) no-repeat 50% 50%;
          background-size: cover; }
      .popular .popular_container .popular_item button {
        clear: both;
        width: 300px;
        margin: 0 auto;
        background-color: #FFFCCC;
        outline: none;
        border: 2px solid #CBC453;
        font-size: 18px;
        font-family: "RobotoRegular";
        margin-top: 6px;
        padding-top: 24px;
        line-height: 5px;
        padding-bottom: 22px; }

/*/POPULAR*/
/*CHOOSE_APARTAMENTS*/
.choose_apartaments {
  height: 1000px;
  background-color: #23598F;
  width: 100%;
  padding-top: 16px; }
  .choose_apartaments .container {
    height: 942px;
    background-color: #fff;
    color: #23598F;
    padding-top: 49px;
    text-align: center; }
    .choose_apartaments .container form input:checked + label {
      color: #1abc9c; }
    .choose_apartaments .container form .checkbox {
      margin-right: 100px;
      position: relative; }
      .choose_apartaments .container form .checkbox:before {
        content: "";
        width: 20px;
        height: 20px;
        background-color: red;
        position: absolute; }
      .choose_apartaments .container form .checkbox:last-child {
        margin-right: 0; }
      .choose_apartaments .container form .checkbox input[type="checkbox"] {
        visibility: hidden; }

/*/CHOOSE_APARTAMENTS*/
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/* font-family: "PTSansNarrowRegular"; */
@font-face {
  font-family: "PTSansNarrowRegular";
  src: url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.eot");
  src: url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.woff") format("woff"), url("../fonts/PTSansNarrowRegular/PTSansNarrowRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "PTSansNarrowBold"; */
@font-face {
  font-family: "PTSansNarrowBold";
  src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot");
  src: url("../fonts/PTSansNarrowBold/PTSansNarrowBold.eot?#iefix") format("embedded-opentype"), url("../fonts/PTSansNarrowBold/PTSansNarrowBold.woff") format("woff"), url("../fonts/PTSansNarrowBold/PTSansNarrowBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "RobotoRegular"; */
@font-face {
  font-family: "RobotoRegular";
  src: url("../fonts/RobotoRegular/RobotoRegular.eot");
  src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"), url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "RobotoLight"; */
@font-face {
  font-family: "RobotoLight";
  src: url("../fonts/RobotoLight/RobotoLight.eot");
  src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoLight/RobotoLight.woff") format("woff"), url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "RobotoMedium"; */
@font-face {
  font-family: "RobotoMedium";
  src: url("../fonts/RobotoMedium/RobotoMedium.eot");
  src: url("../fonts/RobotoMedium/RobotoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoMedium/RobotoMedium.woff") format("woff"), url("../fonts/RobotoMedium/RobotoMedium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
/* font-family: "RobotoBold"; */
@font-face {
  font-family: "RobotoBold";
  src: url("../fonts/RobotoBold/RobotoBold.eot");
  src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/RobotoBold/RobotoBold.woff") format("woff"), url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }
html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*# sourceMappingURL=styles.css.map */
